<p style="color: green"><%= notice %></p>

<%= render @education_point %>

<div>
  <%= link_to "Edit this education point", edit_education_point_path(@education_point) %> |
  <%= link_to "Back to education points", education_points_path %>

  <%= button_to "Destroy this education point", @education_point, method: :delete %>
</div>
