<h4>Quick Links</h4>

<%= link_to "Adopt Home", "/adopt" %>
<%= link_to "Pets", "/adopt/pets" %>
<%= link_to "Shelters", "/adopt/shelters" %>
<%= link_to "Veterinarians", "/adopt/veterinarians" %>
<%= link_to "Veterinary Offices", "/adopt/veterinary_offices" %>
