<%= render partial: 'viewparty/shared/header' %>
<%= render partial: 'viewparty/shared/box' %>
<%= render partial: 'viewparty/shared/button' %>
<%= render partial: 'viewparty/shared/centerframe' %>
<%= render partial: 'separatetext' %>

<%= render partial: 'viewparty/landing/subheader' %>

<div class="center">

  <%= button_to "Discover Page", viewparty_viewer_discover_index_path(@viewer), method: :get%><br>

  <div class="movie-list">
    <% @facade.movies.each do |movie| %>
      <div class="movie">
        <div class="title">
          <u><%= link_to "#{movie.title}", viewparty_viewer_movie_path(@viewer, movie.id) %></u>
        </div>
        <div class="vote-average">
          Vote Average: <%= movie.vote_average %>
        </div>
      </div>
    <% end %>
  </div>

  <h3><%= @facade.movies.length %> Results</h3>

  <%= button_to "Return to Discover Page", viewparty_viewer_discover_index_path(@viewer), method: :get%>
</div>