<h2 class="header">Adopt, Don't Shop!</h2>
<br>
<h4>Quick Links</h4>
<%= link_to "Adopt Home", "/adopt" %>
<%= link_to "Pets", "/adopt/pets" %>
<%= link_to "Shelters", "/adopt/shelters" %>
<%= link_to "Veterinarians", "/adopt/veterinarians" %>
<%= link_to "Veterinary Offices", "/adopt/veterinary_offices" %>

<div class="card" style="width: 50rem;">
  <%= image_tag("adopt_schema.png", class: "card-img-top", alt: "schema design for this project") %>
    <div class="card-body">
      <h5 class="subheader"><b>Turing School of Software and Design,</b> Mod 2</h5>
      <p class="card-text">Visitors to the site are able to create applications to adopt pets. Administrators can then approve or deny the pets on the application.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i>Includes the use of search forms, filters and CRUD functionality. This was the first web application I wrote.</i></li>
    </ul>
</div>

