<%= form_with(model: project_skill) do |form| %>
  <% if project_skill.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project_skill.errors.count, "error") %> prohibited this project_skill from being saved:</h2>

      <ul>
        <% project_skill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.label :project_id, style: "display: block" %>
    <%= form.text_field :project_id %>
  </div>

  <div>
    <%= form.label :skill_id, style: "display: block" %>
    <%= form.text_field :skill_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
