<p style="color: green"><%= notice %></p>

<%= render @project_skill %>

<div>
  <%= link_to "Edit this project skill", edit_project_skill_path(@project_skill) %> |
  <%= link_to "Back to project skills", project_skills_path %>

  <%= button_to "Destroy this project skill", @project_skill, method: :delete %>
</div>
