<%= render partial: 'shared/filter' %>
<%= render partial: 'shared/navbar' %>
<!DOCTYPE html>

<html lang="en">
  <body class="body">
    <div class="all-content">
      <div class="background-pages"></div>
      <div class="items">
      <br>
      <br>
      <h1 class="heading">  $ /EDUCATION</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <%= image_tag("card_turing.png", class: "card-img-top", alt: "turing logo") %>
              <div class="card-body">
                <h5 class="subheader"><b>Turing School of Software and Design</b></h5>
                <p class="card-text">Denver, CO. 03|2024</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><i>Accredited Certificate in Back-End Engineering</i></li>
                <li class="list-group-item"><i>Demo Comp Finalist</i></li>
              </ul>
              <div class="card-body">
                <a href="https://backend.turing.edu/" class="card-link">Turing Back-End Curriculum</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <%= image_tag("card_hmc.svg", class: "card-img-top", alt: "haymarket center logo") %>
            <div class="card-body">
              <h5 class="subheader"><b>McDermott Professional Learning Center</b></h5>
              <p class="card-text">Chicago, IL. 01|2021</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i>Addiction Counselor Preparatory Training Program</i></li>
            </ul>
            <div class="card-body">
              <a href="https://www.hcenter.org/cadc-program/" class="card-link">McDermott CADC Program</a>
            </div>
          </div>
        </div>
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                <%= image_tag("card_cub.png", class: "card-img-top", alt: "cu boulder seal") %>
                <div class="card-body">
                  <h5 class="subheader"><b>University of Colorado Boulder</b></h5>
                  <p class="card-text">Boulder, CO. 05|2019</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><i>Bachelor of Arts in Psychology</i></li>
                </ul>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><i>Undergraduate Certificate in LGBTQ Studies</i></li>
                </ul>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><i>Honors: Graduated with Distinction</i></li>
                </ul>
                <div class="card-body">
                  <a href="https://catalog.colorado.edu/undergraduate/colleges-schools/arts-sciences/programs-study/psychology-neuroscience/psychology-bachelor-arts-ba/#requirementstext" class="card-link">Psychology Coursework</a>
                </div>
                <div class="card-body">
                  <a href="https://www.colorado.edu/lgbtq/certificate" class="card-link">LGBTQ Studies Coursework</a>
                </div>
              </div>
            <br>
            <br>
            <br>
            <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
