<p style="color: green"><%= notice %></p>

<%= render @project_point %>

<div>
  <%= link_to "Edit this project point", edit_project_point_path(@project_point) %> |
  <%= link_to "Back to project points", project_points_path %>

  <%= button_to "Destroy this project point", @project_point, method: :delete %>
</div>
